body {
    background-image:linear-gradient(60deg, #e7901c, #ef5d1e);
}
h1{
    text-align: center;
}

.game-button  {
    background-color: #f68a1d;
    border-color: #f68a1d;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
    padding: 5px;
    font-size: 14px;
    font-style: italic;
    font-family: 'Arial', sans-serif;
    border-radius: 5px;
}

.game-button:hover {
    background-color: #f3a10a;
    border-color: #e7901c;
}


 #Popup {
     border: 2px solid #382f2f;
     background-color: #382f2f;
     color: white;
     border-radius: 10px;
     width: 500px;
     height: 300px;
     margin: auto;
     padding: 20px;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
